.App{
    text-align: center;
    margin-top: 20px;
}
.autocomplete{
    width: 100%;
    position: relative;
    display: inline-block;
}
.suggestions{
    border : 1px solid #ccc;
    position: absolute;
    background-color: white;
    margin-left: 32%;
    width: 30%;
    z-index: 1;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
}